.row {
  width: auto-fit;
    margin-left: 20px;
    margin-right: 20px;
  }

  .columnArticlePic {
    padding: 20px;
    background-color: yellow;
  }

  .columnWords {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: fill;
  }

  .centerPageButtons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  a.art{
    color: yellow;
  }